<!--^ATTRIBUTE BINDNG-->

  Bind a url and an image in the data object of VueJs app
  <a v-bind:href="visitGoogle"><img v-bind:src="image"></a>


  <!--^CONDITIONAL RENDERING-->
  Render elements based on inventory and onSale values in data object of VueJs app
  <h1>{{ product }}</h1>
  <p v-if="inventory > 10"> In Stock! </p>
  <p v-else-if="inventory <= 10 && inventory > 0"> Almost Sold Out! </p>
  <p v-else> Sorry! Out of Stock! </p>
  <p v-if="onSale"> On Sale! </p>   --> onSale is a boolean (true/false) type in the VueJs data object

